@avatarSize: 48rpx;
@titleSize: 38rpx;
@normalSize: 36rpx;
@descSize: 28rpx;

@normalColor: var(--weui-FG-0);
@subColor: rgba(0, 0, 0, 0.85);
@descColor: var(--weui-FG-2);
@lineColor: var(--weui-FG-3);

@white: var(--weui-WHITE);
@link: var(--weui-LINK);
@red: var(--weui-RED);

.ellipsis(@w: auto) {
  width: @w;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellipsisLn(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}

.text_wrap() {
  word-wrap: break-word;
  word-break: break-all;
}

.hyphens() {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.px1-top() {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: @lineColor;
    display: block;
    width: 100%;
    height: 1px;
    transform: scale(1, 0.5);
    top: 0;
    left: 0;
  }
}

.px1-bottom() {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-color: @lineColor;
    display: block;
    width: 100%;
    height: 1px;
    transform: scale(1, 0.5);
    bottom: 0;
    left: 0;
  }
}
